{% extends 'base.html' %}

{% block title %}Hasło{% endblock title %}

{% block content %}
    <br/>
    <div class="mx-auto d-flex bg-light align-items-center flex-column" style="width: 50%;">
        <div class="p-2">
            <h5>Będziesz mieć 30 sekund na rysowanie.</h5>
        </div>
        <div class="p-2">
            <h1>Hasło:</h1>
        </div>
        <div class="p-2">
            <h1><span class="badge badge-pill badge-secondary">{{ category }}</span></h1>
        </div>
        <div class="p-2">
            <a class="btn btn-success" href="{% url 'paint' %}" role="button">Rysuj</a>
        </div>
    </div>
{% endblock content %}