{% extends 'base.html' %}

{% block title %}Start{% endblock title %}

{% block content %}
    <br/>
    <div class="jumbotron">
        <h1 class="display-4">Kalambury</h1>
        <p class="lead">Zasady:</p>
        <li class="lead">na każde hasło przeznaczone jest 30 sekund</li>
        <li class="lead">jedna rozgrywka zawiera 5 haseł</li>
        <li class="lead">gra rozpoczyna się po naciśnięciu przycisku "Start"</li>
        <hr class="my-4">
        <a class="btn btn-success" href="{% url 'category' %}" role="button">Start</a>
    </div>
{% endblock content %}